*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Monoton', cursive;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

.heading-one {
  font-size: 7rem;
  text-align: left;
  word-spacing: 1.2rem; }
  @media (max-width: 37.5em) {
    .heading-one {
      font-size: 5rem; } }

.u-margin-small {
  margin-bottom: 3rem; }

.u-margin-middle {
  margin-bottom: 5rem; }

.u-margin-big {
  margin-bottom: 7rem; }

.header {
  height: 100rem;
  background-color: #ffbe0b;
  color: #8338ec;
  box-shadow: 0.5rem 1rem 1rem #8237ec;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .header__container {
    margin: 3rem;
    display: flex;
    justify-content: space-between; }
  .header__h1 {
    width: 50%;
    height: 100%; }
  .header__ul {
    padding-top: 2rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; }
  .header__li {
    padding: 1rem;
    margin: .5rem;
    border: 5px solid #8338ec;
    cursor: pointer; }
  .header__link-icon {
    width: 3rem;
    height: 3rem;
    fill: #8338ec; }
  .header__picture {
    height: 40%;
    border: 3px solid #8338ec;
    margin: 3rem;
    background-image: linear-gradient(rgba(131, 56, 236, 0.8), rgba(131, 56, 236, 0.8)), url("https://c.pxhere.com/photos/28/c1/friends_comfort_care_cheer_up_soothe_friendship_depression_soothing-922392.jpg!d");
    background-size: cover;
    background-repeat: no-repeat; }

.slider {
  background-color: rgba(251, 86, 7, 0.7);
  height: 100%; }
  .slider__box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    width: 100%;
    height: 100%; }
  .slider__text {
    text-align: center;
    width: 100%; }
  .slider__btn {
    padding: 3rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: #3a86ff;
    margin: 1rem;
    font-size: 5rem;
    cursor: pointer;
    transition: all .2s; }
    .slider__btn:hover {
      transform: translateY(-1rem); }
    .slider__btn:active {
      transform: scale(1.1); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }

.lightbox {
  position: relative;
  height: 100rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
  background-color: #eee;
  display: flex; }
  .lightbox__header {
    text-align: left;
    font-size: 7rem;
    margin: 3rem;
    color: #8338ec; }
  .lightbox__btn:link, .lightbox__btn:visited {
    text-decoration: none;
    color: #fff; }
  .lightbox__container {
    margin: 0 auto; }
  .lightbox__box {
    display: flex;
    flex-wrap: wrap; }
  .lightbox__img {
    cursor: pointer;
    width: 50%;
    height: 100%;
    border: 1.5rem solid #eee; }
    .lightbox__img-popup {
      width: 100%;
      border: none; }
    .lightbox__img-cursor {
      cursor: auto; }
  .lightbox__popup {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 134, 255, 0.7); }
    .lightbox__popup-box {
      height: 100%;
      display: flex;
      flex-direction: column; }
    .lightbox__popup-screen {
      margin: 2rem; }
    .lightbox__popup-queue {
      margin: 2rem;
      display: flex;
      justify-content: space-between; }
      .lightbox__popup-queue--el {
        margin: 0 1rem; }
  .lightbox__button {
    position: absolute;
    cursor: pointer;
    top: 3rem;
    right: 3rem;
    width: 5rem;
    height: 5rem; }

.section__slider {
  height: 100rem;
  background-image: url("https://c.pxhere.com/photos/ab/45/architecture_modern_architecture_modern_building_design_facade_urban_d_sseldorf-1162464.jpg!d");
  background-position: center;
  background-repeat: no-repeat;
  color: #3a86ff;
  box-shadow: 0.5rem 1rem 1rem #3885ff; }

.section__lightbox {
  margin-top: 3rem; }
