$color-yellow: #ffbe0b;

$color-orange: #fb5607;

$color-pink: #ff006e;

$color-granate: #8338ec;

$color-blue: #3a86ff;

// grey
$color-grey: #eee;

// font size

$font-small: 3rem;
$font-middle: 5rem;
$font-big: 7rem;

// margins
$margin-small: 3rem;
$margin-middle: 5rem;
$margin-big: 7rem;

// section height

$main-height: 90vh;