@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

:root{
    --primary-color: #52145c;
    --secondary-color: #43f0cd;
    --font-familly: "Monoton", cursive; 
    --click-color: #6b1649;
    --border-dotted: 5px dotted var(--secondary-color);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--font-familly);
    background-color: var(--primary-color);
}

/* Start elements */
.start-container{
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.start-header{
    margin: 40px auto;
    font-weight: 400;
    font-size: 8rem;
    text-align: center;
    color: var(--secondary-color);
}

/* Enter button */
.enter-button{
    padding: 0;
    width: 400px;
    height: 150px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 3.6rem;
    font-family: var(--font-familly);
    border: 0;
    outline: 0;
}

.enter-button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: var(--border-dotted)
}


/* Main */
.main-container{
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 40px;
    border-bottom: 5px dotted var(--secondary-color);
}
header h1{
    font-size: 4rem;
    font-weight: 400;
    color: var(--secondary-color);
}
.header-list-container{
    margin-left: auto;
}
.header-button{
    cursor: pointer;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px 10px;
    font-size: 1.4rem;
    color: var(--secondary-color);
    border: 4px dotted var(--secondary-color);
    background-color: var(--primary-color);
}

.header-button:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 4px dotted var(--primary-color);
}
header ul button:focus{
    background-color: var(--click-color);
    border: 4px dotted var(--primary-color);
    outline: 0;
}

/* Main */
main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    font-size: 4rem;
    font-weight: 400;
    color: var(--secondary-color);
}
.elements-container{
    
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    max-width: 100%;
    margin: 0 80px;
}

.happy-element{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 5px dotted var(--secondary-color);
    padding: 10px;
    width: 250px;
    height: 250px;
    font-family: var(--font-familly);
    font-size: 1.8rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
.happy-element:focus{
    background-color: var(--click-color);
    outline: 0;
}
.happy-element:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 5px dotted var(--primary-color);
}

.happy-element h1{
    font-size: 1.8rem;
}
.happy-element h1:hover{
    color: var(--primary-color);
}

.happy-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 15px 0;
}

/* .add-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
/* 
.add-element-input{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
    border: 3px dotted var(--secondary-color);
    text-align: center;
    font-family: var(--font-familly);
    font-size: 0.6rem;
} */

/* Add element container */
.create-element{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}

.element {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    border: var(--border-dotted);
    padding: 90px;
    text-align: center;
    font-family: var(--font-familly);
    font-weight: 400;
    font-size: 1.8rem;
}

.element button{
    cursor: pointer;
    background-color: var(--primary-color);
    color: #2980b9;
    border: 0;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    border: var(--border-dotted);
    font-family: var(--font-familly);
    font-weight: 400;
    font-size: 1.8rem;
}

.element button:active{
    transform: scale(0.98);
}

.element button:focus{
    outline: none;
}

.element input{
    padding: 20px 0;
    background-color: var(--secondary-color);
    border: var(--border-dotted);
    font-family: var(--font-familly);
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
}

.element input:focus{
    background-color: var(--primary-color);
    outline: 0;
}