.header{

    height: $main-height;
    background-color: $color-yellow;
    color: $color-granate;
    box-shadow: .5rem 1rem 1rem darken($color-granate, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(tab-land) {
        flex: 0 0 45%;
    }
    @include respond(standart-screen) {
        flex: 0 0 20%;
    }

    &__container{        
       margin: 2rem;

       @include respond(tab-port) {
           margin: 3.5rem;
       }
    }
    &__h1 {
        font-size: 3rem;
        font-weight: 100;

        @include respond(tab-port) {
           width: 80%;
        }
        @include respond(tab-land) {
           width: 60%;
           font-size: 3rem;
        }
    }

    &__ul {
        padding-top: 2rem;
        list-style: none;

        display: flex;
        justify-content: center;

        @include respond(smartphone) {
            justify-content: left;
        }
    }

    &__li {
        padding: .5rem;
        margin: .5rem;
        border: 2px solid $color-granate;
        cursor: pointer;
    }

    &__link {
        
        
        &-icon {
            height: 1.5rem;
            width: 1.5rem;
            fill: $color-granate;
        }
    }
    
    &__picture{
        height: 50%;
        border: 3px solid $color-granate;
        margin: 2rem;

        background-image: linear-gradient(rgba($color-granate, 0.8), rgba($color-granate, 0.8)), url("https://c.pxhere.com/photos/28/c1/friends_comfort_care_cheer_up_soothe_friendship_depression_soothing-922392.jpg!d");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;

        @include respond(tab-port) {
            margin: 3.5rem;
        }
    }
}