.header{

    height: $main-height;
    background-color: $color-yellow;
    color: $color-granate;
    box-shadow: .5rem 1rem 1rem darken($color-granate, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__container{        
        margin: 3rem;

        display: flex;
        justify-content: space-between;
    }
    &__h1 {
        width: 50%;
        height: 100%;
    }

    &__ul {
        padding-top: 2rem;
        list-style: none;

        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    &__li {
        padding: 1rem;
        margin: .5rem;
        border: 5px solid $color-granate;
        cursor: pointer;
    }

    &__link {
        

        &-icon {
            width: 3rem;
            height: 3rem;
            fill: $color-granate;
        }
    }

    

    &__picture{
        height: 40%;
        border: 3px solid $color-granate;
        margin: $margin-small;
        // filter: grayscale(100%);
        background-image: linear-gradient(rgba($color-granate, 0.8), rgba($color-granate, 0.8)), url("https://c.pxhere.com/photos/28/c1/friends_comfort_care_cheer_up_soothe_friendship_depression_soothing-922392.jpg!d");
        background-size: cover;
        background-repeat: no-repeat;
    }
}