.lightbox {

    height: 100%;
    position: relative;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .3);
    background-color: $color-grey;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond(tab-port) {
        display: flex;
        flex-direction: row;
    }
    @include respond(standart-screen) {
        flex-direction: column;
    }

    &__header {
        text-align: center;
        font-size: 3rem;
        font-weight: 100;
        margin: 3rem;
        color: $color-granate;

        @include respond(smartphone) {
            font-size: 4rem;
        }
        @include respond(tab-land) {
            font-size: 3rem;
        }
        
    }

    &__btn:link,
    &__btn:visited {
        text-decoration: none;
        color: #fff;
    }
    &__container {
        margin: 0 auto;
    }
    &__box {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;

        @include respond(smartphone) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        @include respond(tab-port) {
            align-items: center;
            justify-content: center;
        }
        &-item {
            flex: 0 0 30%;
        }
    }
    &__img {
        
        width: 80%;
        cursor: pointer;
        background-position: center;

        @include respond(smartphone) {

        }
        @include respond(tab-port) {
           margin: .5rem;
        }

        &-popup {
            border: none;
        }
        &-cursor {
            cursor: auto;
        }
    }
    &__popup {
        // FOR JS
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color-granate, .9);

        &-box{
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        &-screen {
            background-position: center;
            margin: 1rem;

            @include respond(smartphone) {
                width: 100%;
            }
            @include respond(tab-port) {
               margin: .5rem;
            }
        }
        &-queue {
            margin: 1rem;
            display: flex;
            justify-content: space-between;

            @include respond(smartphone) {
            }
            @include respond(tab-port) {
               margin: .5rem;
            }

            &--el {
                // margin: 0 1rem;
            }
        }

    }

    &__button {
        z-index: 10;
        position: absolute;
        cursor: pointer;
        top: 1rem;
        right: 1rem;
        width: 3rem;
        height: 3rem;
        background-color: $color-granate;
        outline: none;
        border: 1px solid $color-yellow;

        // &-span {
        //     position: absolute;
        //     right: .5rem;
        //     width: 4rem;
        //     height: .3rem;
        //     background-color: $color-blue;
        //     &::before {
        //         content: "";
        //         position: absolute;
        //         top: 2rem;
        //         width: 4rem;
        //         height: .3rem;
        //         background-color: $color-blue;
        //     }
        // }
    }
}