.slider {

    background-color: rgba($color-orange, .7);
    height: 100%;

    &__box {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__text {

        text-align: center;
        line-height: 10rem;
        width: 80%;
        font-size: 3rem;
        font-weight: 100;

        @include respond(smartphone) {
            font-size: 3rem;
        }
        @include respond(tab-port) {
            font-size: 5rem;
            line-height: 8rem;
        }
        @include respond(standart-screen) {
            font-size: 3rem;
            line-height: 6rem;
        }
    }

    &__btn {
        justify-self: right;

        padding: 1rem;
        border: none;
        outline: none;
        background-color: transparent;
        color: $color-blue;
        margin: 4rem 0;
        font-size: $font-middle;
        cursor: pointer;
        transition: all .2s;

        &:hover{
            transform: translateY(-1rem);
        }
       
        &:active {
            transform: scale(1.1);
        }
        
    }

   
}